In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import xlwings as xw
import sys
import sqlalchemy
from sqlalchemy import create_engine
import os
import datetime as dt
import sqlite3
import unittest

sys.path.insert(0,"./resident_manager/")
pd.set_option('display.max_rows', 100)

import residentdatabsemanager as RDM
from utils import DataManager, DatabaseHandler

import configs as conf


import pathlib
import json

In [17]:
db_handler = DatabaseHandler(conf)
data_manager = DataManager(conf, db_handler)

resident_manager = RDM.ResidentManager(confs=conf, db_handler=db_handler, data_manager=data_manager)

In [4]:
# trans =pd.read_excel("../main.xlsx", sheet_name="Transactions", dtype="O")

# trans['TransDate'] = pd.to_datetime(trans['TransDate'])
# trans['RoomElectricityReading'] = trans['RoomElectricityReading'].astype(float)

In [5]:
# trans

In [18]:
residents = resident_manager.data_manager.load_residents_info_table()
electricity_records = resident_manager.data_manager.load_electricity_table()
st = resident_manager.data_manager.load_current_status()

In [19]:
curr_reading_status = st[["RoomNo", "RoomElectricityReading"]].drop_duplicates().set_index("RoomNo").squeeze()
prev_record = electricity_records[electricity_records["Date"] < dt.datetime.now()].tail(1).squeeze()

In [21]:
st[["RoomNo", "RoomElectricityReading"]].drop_duplicates()

   RoomNo  RoomElectricityReading
0       1                  3449.5
2       2                  3940.6
4       3                  7775.3
7       4                  2452.3
9       5                  4334.6
12      6                  2203.9
14      7                  3222.2
16      8                  2426.3
18      9                  6387.5
21     10                  6831.3
24     11                   362.0
26    101                  3549.2
28    102                  4164.3
30    103                  4516.9
32    104                  3757.4
34    105                  4083.2
36    106                  3964.2
38    107                  2883.9
40    108                  3618.1
42    109                  5021.0
45    110                  2901.0
47    111                  3558.2
48    111                     NaN
49    112                  2844.8
51    113                  2827.6
52    113                     NaN
53    114                  3970.3
55    115                  5156.5
57    116                  3427.7
59    117                  2599.7
61    201                  4827.0
63    202                     NaN
64    202                  5433.2
65    203                  4624.6
67    204                  1241.6
69    205                  4666.7
71    206                   567.0
73    207                  4536.0
75    208                  4573.0
77    209                  5874.3
80    210                  4137.5
82    211                  4896.8
84    212                  6512.9
86    213                  4916.8
88    214                  1883.1
90    215                  2973.3
92    216                  4741.0
94    217                  4975.5